gardiner-ios.xcodeproj/project.xcworkspace/xcshareddata/
gardiner-ios.xcodeproj/xcuserdata/bilal.xcuserdatad/xcdebugger/
gardiner-ios.xcodeproj/project.xcworkspace/xcuserdata/
gardiner-ios.xcodeproj/xcuserdata/pbardea.xcuserdatad/
/Pods/
Podfile.lock
